.matches{
    display:flex;
    height: 60px;
    border-bottom: 2px solid #9d1f1fbc;
    
}
.matchIcon{
    padding: 20px;
   height: 20px;
   float: right;

}

/* display:flex;
    width: 33.33%;
    float:right;
    border-left: 2px solid #838383bc;
    border-bottom: 2px solid #838383bc;*/